<button
  (click)="buttonClick.emit()"
  [disabled]="disabled()"
  [type]="type()"
  [ngClass]="color()"
  class="flex items-center px-4 py-2 rounded-md font-medium cursor-pointer transition-all duration-300 text-white bg-indigo-600 hover:bg-indigo-700 disabled:bg-gray-400 disabled:cursor-not-allowed"
>
  @if (icon() && iconPosition() === 'left') {
    <mat-icon>{{ icon() }}</mat-icon>
    {{ label() }}
  } @else if (icon() && iconPosition() === 'right') {
    {{ label() }}
    <mat-icon>{{ icon() }}</mat-icon>
  } @else {
    {{ label() }}
  }
</button>
