<div
  class="form-group flex items-center gap-2 border border-gray-300 rounded-md px-4 py-2 shadow-sm bg-white focus-within:ring-2 focus-within:ring-primary-500 transition-all duration-300 w-full max-w-md"
>
  <input
    (input)="updateValue(inputRef.value)"
    (blur)="onBlur()"
    [value]="value()"
    [placeholder]="placeholder()"
    [disabled]="isDisabled()"
    #inputRef
    type="email"
    class="flex-1 outline-none bg-transparent text-sm text-gray-800 placeholder:text-gray-400"
  />
</div>
